{% extends "base.html" %}
{% block headmeta %}
	<meta name='description' content='spicy bingo'>
	<title>Spicy Bingo</title>
{% endblock %}
{% block scripts %}
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script type='text/javascript' src="{{ url_for('static',filename='js/board.js') }}"></script>
{% endblock %}
{% block css %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/board.css') }}">
{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-10 col-sm-9">
            {% if size == 'three' %}
                <div id='grid' class="grid-3">
                {% for word in words %}
                    <div class="card small-box dark-bg flex center font-3">{{ word }}</div>
                {% endfor %}
                </div>
            {% endif %}
            {% if size == 'five' %}
                <div id='grid' class="grid-5">
                {% for word in words %}
                    <div class="card small-box dark-bg hilight-fg font-5">{{ word }}</div>
                {% endfor %}
                </div>
            {% endif %}               
        </div>
        <div class="col col-sm-3">
            <div class="dark-bg small-box flex-column height-100 flex-start">
                <div class="small-box small-margin-vertical hilight-bg flex center">{{ name }}</div>
                <div class='tiny-box small-margin-vertical hilight-bg'>People</div>
                <div id='player-list' class='flex-column small-margin-vertical'>
                    {% for name in playerNames %}
                        <div class='player-card tiny-box small-margin-vertical mid-bg'>{{ name }}</div>
                    {% endfor %}
                    <div class='tiny-box small-margin-vertical light-bg flex space-between'>
                        <div>Zolt</div>
                        <div>(!)</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}