{% extends "base.html" %}
{% block headmeta %}
	<meta name='description' content='spicy bingo'>
	<title>Create Bingo Board</title>
{% endblock %}
{% block scripts %}
    <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
    <script type='text/javascript' src="{{ url_for('static',filename='js/create.js') }}"></script>
{% endblock %}
{% block css %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
{% endblock %}
{% block content %}
<div class="container">
    <form role='form' id='form'>
        <div class='form-group row'>
            <label for='name' class='col col-sm-2 col-form-label col-form-label-lg'>Room Name</label>
            <div class='col-12 col-sm-8'>
                <input type='text' class='form-control form-control-lg' id='name' name='name' required>
            </div>
        </div>
        <div class='form-group row'>
            <label class='col col-sm-2 col-form-label col-form-label-lg'>Board Size</label>
            <div class='col col-sm-2 '>
                <div id="board-size-buttons" class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary active">
                    <input type="radio" name="size" id="size-3-button" autocomplete="off" checked> 3 x 3
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="size" id="size-5-button" autocomplete="off"> 5 x 5
                  </label>
                </div>
            </div>
        </div>
        <div class='from-group row'>
            <label class='col col-sm-2 col-form-label col-form-label-lg'>Mode</label>
            <div class='col col-sm-2'>
                <div id="mode-buttons" class="btn-group btn-group-toggle" data-toggle="buttons">
                  <label class="btn btn-secondary active">
                    <input type="radio" name="mode" id="mode-regular-button" autocomplete="off" checked> Regular
                  </label>
                  <label class="btn btn-secondary">
                    <input type="radio" name="mode" id="mode-blackout-button" autocomplete="off"> Blackout
                  </label>
                </div>
            </div>
        </div>
        <div class='form-group row'>
            <label for='word-input' class='col col-sm-2 col-form-label col-form-label-lg'>Words</label>
            <div class='col-12 col-sm-8'>
                <input type='text' class='form-control col-form-label-lg' id='word-input'>
            </div>
        </div>
        
        <div class='form-group row'>
            <div class='col-12 col-sm-4'>
            <div id='add-word-button' class="small-box dark-bg hilight-fg flex center btn">Add Word</div>    
            </div>        
        </div>
        <div class='form-group row'>
            <div id='word-container' class='col-12 flex-wrap flex'></div>
        </div>
        <div class='form-group row'>
            <div class='col-12 col-sm-4'>
            <div id='create-button' class="small-box mid-bg hilight-fg flex center btn">Create Board</div>    
            </div>        
        </div>
    </form>
</div>
{% endblock %}