{% extends "base.html" %}
{% block headmeta %}
	<meta name='description' content='spicy bingo'>
	<title>Create Bingo Board</title>
{% endblock %}
{% block scripts %}
    <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
    <script type='text/javascript' src="{{ url_for('static',filename='js/create.js') }}"></script>
{% endblock %}
{% block css %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
{% endblock %}
{% block content %}

<div class='container'>
    <form role='form' id='form'>
        <div class='flex-column'>
            <div class='flex'>
                <div class='hilight-fg text-shadow margin-half flex center'>Room Name</div>
            </div>
            <div class='flex margin-half'>
                <input id='name' class='form-control form-control-lg' name='name' type='text' required>
            </div>
            <div class='flex margin-half'>
                <div class='hilight-fg text-shadow margin-half whitespace-nowrap'>Board Size</div>
                <div id='board-size-buttons' class='btn-group btn-group-toggle' data-toggle='buttons'>
                  <label class='btn btn-secondary active'>
                    <input type='radio' name='size' id='size-3-button' autocomplete='off' checked> 3 x 3
                  </label>
                  <label class='btn btn-secondary'>
                    <input type='radio' name='size' id='size-5-button' autocomplete='off'> 5 x 5
                  </label>
                </div>
            </div>
            <div class='flex margin-half'>
                <div class='hilight-fg text-shadow margin-half whitespace-nowrap'>Mode</div>
                <div id='mode-buttons' class='btn-group btn-group-toggle' data-toggle='buttons'>
                    <label class='btn btn-secondary active'>
                        <input type='radio' name='mode' id='mode-regular-button' autocomplete='off' checked> Regular
                    </label>
                    <label class='btn btn-secondary'>
                        <input type='radio' name='mode' id='mode-blackout-button' autocomplete='off'> Blackout
                    </label>
                </div>
            </div>
            <div class='flex margin-half'>
               <input type='text' class='form-control form-control-lg' id='word-input' placeholder='type stuff to add it to your bingo board...'>
           </div>
            <div id='add-word-button' class='small-box margin-half whitespace-nowrap light-mid-bg hilight-fg box-shadow text-shadow flex center cursor'>Add to board</div>
            <div id='word-container' class='col-12 flex-wrap flex'></div>
            <div id='create-button' class='small-box light-fg text-shadow flex center cursor'>Create Board</div>
        </div>
    </form>
</div>
{% endblock %}