{% extends "base.html" %}
{% block headmeta %}
	<meta name='description' content='spicy bingo'>
	<title>Spicy Bingo</title>
{% endblock %}
{% block scripts %}
    <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
    <script type='text/javascript' src="{{ url_for('static',filename='js/index.js') }}"></script>
{% endblock %}
{% block css %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
{% endblock %}
{% block content %}
<div class='container'>
    <div class='flex-column center'>
        <h1 class='text-center hilight-fg text-shadow'>Spicy Bingo 🌶️</h1>
        <div id='start-button' class='flex control margin-half small-box cursor light-mid-bg hilight-fg box-shadow text-shadow center'>Start Game</div>
				<div id='join-button' class='flex control margin-half small-box cursor light-mid-bg hilight-fg box-shadow text-shadow center'>Join Game</div>
        <div class='flex margin-half center'>
            <input id='name' type='text' pattern='\S*' class='form-control form-control-lg' placeholder='Enter a room name here' name='name' required>
        </div>
        <div id='help-text' class='invisible text-center'>help text</div>
    </div>
</div>
{% endblock %}
