{% extends "base.html" %}
{% block headmeta %}
	<meta name='description' content='spicy bingo'>
	<title>Spicy Bingo</title>
{% endblock %}
{% block scripts %}
    <script type='text/javascript' src="{{ url_for('static',filename='js/index.js') }}"></script>
{% endblock %}
{% block css %}
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/index.css') }}">
{% endblock %}
{% block content %}
<div class="flex center height-90">
    <div class="flex button-2">
        <div id='start-button' class="small-box dark-bg hilight-fg flex center btn">Start Game</div>
        <div id='join-button' class="small-box dark-bg hilight-fg flex center btn">Join Game</div>
    </div>
</div>
{% endblock %}